---
layout: page_title
title:  <center>
        <h2><b> Welcome to <a href="https://ctlife.github.io/yongpeng.html"> Yong Peng</a>'s <a href="https://CTLife.github.io"> Blog </a> and <a href="https://github.com/CTLife"> GitHub CTLife</a> </b> </h2> 
        <h4> Only Focus on Data Science & Complex Systems Science in Life Science. </h4>   
        <h3 style = "font-family:KaiTi; color:green"><b><i class="fa fa-home fa-lg"></i>  欢 迎 来 到 彭 勇 的 小 站  <i class="fa fa-home fa-lg"><br></i></b></h3>
        </center>                 
titlename: Yong Peng
---                    
    
                                                                                                      
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading"><b>{{ site.locals.newest }}</b></div>
            {% for post in paginator.posts %}
            <a href='{{ post.url }}' class="list-group-item pjaxlink clearfix">
                {{post.title}}
                <span class="badge">{{ post.date | date:"%Y-%m-%d" }}</span>
            </a>
            {% endfor %}
        </div>
    </div>
    {% for cate in site.cates %}
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">{{ cate }}</div>
            {% for tag in site.tags %}
            {% if tag[0] == cate %}
            {% for post in tag[1] %}
            <a href='{{ post.url }}' class="list-group-item pjaxlink clearfix">
                {{post.title}}
                <span class="badge">{{ post.date | date:"%Y-%m-%d" }}</span>
            </a>
            {% endfor %}
            {% endif %}
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>
              
