---
layout: page_title
title:  <center>
        <h1><b> Welcome to <a href="https://CTLife.github.io/"> Yong Peng's Blog </a> and <a href="https://github.com/CTLife"> GitHub CTLife</a> </b> </h1> 
        <h3><b> Only Focus on Data Science & Complex Systems Science in Life Science. </b></h3>   
        <h2 style = "font-family:KaiTi; color:green"><b><i class="fa fa-home fa-lg"><br></i>  欢 迎 来 到 彭 勇 的 小 站  <i class="fa fa-home fa-lg"><br></i></b></h2>
        </center>                 
titlename: Yong Peng
---                    
                                  
<!--<br>-->
<center>             
        <h3><font color="#000080"> The Life </font><font color="#FFA500"> is the Performance </font><font color="#2E8B57"> Which </font><font
        color="#601986"> </font><font color="#556fb5"> Launches fffor </font><font color="#fa1089"> the Interest and </font><font
        color="#638c0b">the Dream.<br> </font></h3>
</center>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">{{ site.locals.newest }}</div>
            {% for post in paginator.posts %}
            <a href='{{ post.url }}' class="list-group-item pjaxlink clearfix">
                {{post.title}}
                <span class="badge">{{ post.date | date:"%Y-%m-%d" }}</span>
            </a>
            {% endfor %}
        </div>
    </div>
    {% for cate in site.cates %}
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">{{ cate }}</div>
            {% for tag in site.tags %}
            {% if tag[0] == cate %}
            {% for post in tag[1] %}
            <a href='{{ post.url }}' class="list-group-item pjaxlink clearfix">
                {{post.title}}
                <span class="badge">{{ post.date | date:"%Y-%m-%d" }}</span>
            </a>
            {% endfor %}
            {% endif %}
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>
              
