/* 页面配置 */
.container {
  width: 97%;
  height: 96%;
  margin-top: 1%;
}
body, html {
  margin: 0%;
  height: 100%;
  overflow: auto; 
  background-color: #555555;
}
.row {
  height: 100%;
}
                        
                                        
/* 导航栏 + 目录栏 */
.aside {
  width: 30%;
  height: 100%;
}
                              
/* 左侧导航栏 */
.aside1 {
  background-color: rgba(0,102,51, 1);
  background-image: url(/public/img/logo-2.jpg);
  width: 45%;    
  height: 100%;
  padding-left: 2%;
  padding-right: 0%;
  text-align: left;  
}
.aside1 > .nav > li > a {
  padding-left: 0px;
  padding-right: 0px;
  border-radius: 0px;
  color: #FFFAFA;
  font-weight: bolder;  
  font-size: 130%;
  padding: 2%   2%;  
}

.aside1> .nav > li > a:hover {
  color:#fff;
  background-color: #16a085;
}

.aside1 > .nav-pills>li.active>a ,.nav-pills>li.active>a:hover,.nav-pills>li.active>a:focus {
  color: #fff;
  background-color: #303030;
}

.avatar {  /* 顶部图片 */ 
  width: 95%;
  border: 2px solid #fff;
}
.img_center{
  text-align:center;
}

.aside1_bottom {
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 2%;
}
.aside1_bottom > .table {
  margin-bottom: 0px;
}
/* 中部目录栏 */
.aside2 {
  background-color: #303030;
  width: 55%;
  height: 100%;
  border-right: 5px solid #303030;
  overflow-y: auto;
  color: #fff;
  margin-top: 0px;
}

/* 右侧内容栏 */
.aside3 {
  height: 100%;
  overflow-y: auto;
  background-color: #fff;
  overflow-x: hidden;
  width: 70%;
  padding-left: 5px;
  padding-right: 5px;
  /*background-image: url(/public/img/bg_lines1.jpg);*/
}
.aside3-title {
  background-color: #f5f5f5;
  /*background-image: url(/public/img/bg_grid.jpg);*/
  border-bottom: 1px solid #f5f5f5;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
  color: #303030;
}
.aside3-content {
/*  padding-left: 40px;
  padding-right: 40px;
*/  
  padding: 0 5% 0 5%;
  color: #656565;
  line-height: 1.42857143;
}
#content {
  font-size: 18px;
}
#content h2, h3 {
  line-height: 2;
}
blockquote p {
  font-size: 20px;
}
/* 其他配置 */
.center {
  text-align: center;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
  color: #fff;
  background-color: #303030;
}
/* 显示评论按钮 */
.show-commend {
  width: 100%;
  margin-bottom: 40px;
}
                                                                    
