/* 页面配置 */
.container {
  width: 98%;
  height: 98%;
  margin-top: 0.5%;
}                                                                     
body, html {
  margin: 0%;
  height: 100%;
  overflow: auto; 
  background-color: #8E8E8E;
}                                 
.row {
  height: 100%;
}
                        
                                        
/* 导航栏 + 目录栏 */
.aside {
  width: 30%;
  height: 100%;
}
                              
/* 左侧导航栏 */
.aside1 {
  background-color: rgba(0,102,51, 1);
  background-image: url(/public/img/logo-5.png);
  width: 45%;    
  height: 100%;
  padding-left: 0%;
  padding-right: 0%;
  text-align: center;  
}
.aside1 > .nav > li > a {
  padding-left: 0px;
  padding-right: 0px;
  border-radius: 0px;
  color: #FFFFFF;
  font-weight: bolder;  
  font-size: 130%;
  padding: 5px 5px 5px 5px;    /*  上右下左内边距 */
}

.aside1> .nav > li > a:hover {
  color:#FFFFFF;
  background-color: #303030;
}

.aside1 > .nav-pills>li.active>a ,.nav-pills>li.active>a:hover,.nav-pills>li.active>a:focus {
  color: #FFFFFF;
  background-color: #1ABC9C;           
}

.avatar {  /* 顶部图片 */ 
  width: 80%;
  border: 0px;
}

.aside1_bottom {
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
}
.aside1_bottom > .table {
  margin-bottom: 0px;
}
                                           
/* 中部目录栏 */
.aside2 {
  background-color: #303030;
  background-image: url(/public/img/logo-2.jpg);
  width: 55%;
  height: 100%;
  border-right: 0px solid #2E8B57;
  overflow-y: auto;
  color: #FFFFFF;
  margin-top: 0px;
}

                                                                   
/* 右侧内容栏 */
.aside3 {
  height: 100%;
  overflow-y: auto;
  background-color: #FFFFFF;
  overflow-x: hidden;
  padding: 0   2%   0   2%;
}
.aside3-title {
  border-top: 5px solid   #f5f5f5;
  background-color: #f5f5f5;
  border-bottom: 5px solid   #f5f5f5;
  text-align: center;
  color: #303030;
}
.aside3-content {
  color: #656565;
  line-height: 1.5;
  text-align: justify;
}
#content {
  font-size: 18px;
}
#content h2, h3 {
  line-height: 2;
}
blockquote p {
  font-size: 20px;
}
/* 其他配置 */
.center {
  text-align: center;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
  color: #fff;
  background-color: #303030;
}
/* 显示评论按钮 */
.show-commend {
  width: 100%;
  margin-bottom: 40px;
}
                                                                    
