<!doctype html>
<html> 
<head>
  {% include header.html %}
  <script>
  function refresh(){
	url = location.href;
	console.log(url);
	var once = url.split("#");
	if (once[1] != 1) {
		url += "#1";
		self.location.replace(url);
		window.location.reload();
	}
}
setTimeout('refresh()', 5000);
</script>
</head>                         
<body>
  <div class="container">
    <div class="row">
      {% include navside.html %}
      <div class="col-md-13 col-lg-13 col-sm-13 col-xs-13 aside3">
        <div id="container">
          <div id="pjax">
            {{ content }}
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include footer.html %}
  {% include googleanalytics.html %}
</body>                           
</html>
