<!doctype html>
<html> 
<head>
    {% include header.html %}
</head>   
	                 
<body>
  <div class="container">
    <div class="row">
      {% include navside.html %}
      <div class="col-md-13 col-lg-13 col-sm-13 col-xs-13 aside3">
        <div id="container">
          <div id="pjax">
            {{ content }}
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include footer.html %}
  {% include googleanalytics.html %}
  	
</body>  

<script type="text/javascript">
function getCookie(name){
var arr = document.cookie.match(new RegExp("(^| )"+name+"=([^;]*)(;|$)"));
if(arr != null) return unescape(arr[2]);
return null;
}
var pageFresh = getCookie("pagefresh");
if (pageFresh!="ok") {
document.cookie = 'pagefresh=ok';
location.reload(true); // 强制从服务器取

}
</script>
	
	
</html>
