---
layout: base_title
---
<div class="row">
  <div class="col-md-13 aside3-title">
    <br>
    <h2 id="#identifier">{{ page.title }}</h2>
  </div>
  <div class="col-md-13 aside3-content">
    <div id="page-content">
      {{ content }}
    </div>
        <hr> 
    	  <center>   <b>
		    <input type="button"  value="  显示分享 (即刷新一次)  "  onClick="window.location.reload()"> 
		     &emsp; &emsp;
		    <input type="button"   value="  Share (Refresh Once)  "  onClick="window.location.reload()">
	      </b>  </center> 
        <!-- Go to www.addthis.com/dashboard to customize your tools -->
        <div class="addthis_inline_share_toolbox_6w25"></div>
        <hr><br>
  </div>
</div>
